USE [master]
GO
/****** Object:  Database [Chat]    Script Date: 5/24/2020 23:27:07 ******/
CREATE DATABASE [Chat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Chat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Chat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chat]
GO
/****** Object:  Table [dbo].[HIDDEN_MESSAGES]    Script Date: 5/24/2020 23:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIDDEN_MESSAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[MESSAGE_ID] [int] NOT NULL,
 CONSTRAINT [PK__HIDDEN_M__3214EC27C27F1E82] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 5/24/2020 23:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEXT] [nvarchar](max) NULL,
	[DATE] [datetime] NOT NULL,
	[IS_HIDDEN] [bit] NOT NULL,
	[SESSION_USER_ID] [int] NOT NULL,
 CONSTRAINT [PK__MESSAGES__3214EC27F3A85F54] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSIONS]    Script Date: 5/24/2020 23:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[IS_ADMIN_SESSION] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSIONS_USERS_MAP]    Script Date: 5/24/2020 23:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSIONS_USERS_MAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[SESSION_ID] [int] NOT NULL,
	[IS_ADMIN] [bit] NOT NULL,
 CONSTRAINT [PK__SESSIONS__3214EC278AF59C2E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SESSION_USER] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/24/2020 23:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  CONSTRAINT [DF__MESSAGES__DATE__30F848ED]  DEFAULT (getdate()) FOR [DATE]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  CONSTRAINT [DF__MESSAGES__ISHIDD__33D4B598]  DEFAULT ((0)) FOR [IS_HIDDEN]
GO
ALTER TABLE [dbo].[SESSIONS] ADD  DEFAULT (getdate()) FOR [DATE]
GO
ALTER TABLE [dbo].[SESSIONS] ADD  DEFAULT ((0)) FOR [IS_ADMIN_SESSION]
GO
ALTER TABLE [dbo].[SESSIONS_USERS_MAP] ADD  CONSTRAINT [DF__SESSIONS___ISADM__2E1BDC42]  DEFAULT ((0)) FOR [IS_ADMIN]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[HIDDEN_MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK__HIDDEN_ME__MESSA__46E78A0C] FOREIGN KEY([MESSAGE_ID])
REFERENCES [dbo].[MESSAGES] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HIDDEN_MESSAGES] CHECK CONSTRAINT [FK__HIDDEN_ME__MESSA__46E78A0C]
GO
ALTER TABLE [dbo].[HIDDEN_MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK__HIDDEN_ME__USER___45F365D3] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[HIDDEN_MESSAGES] CHECK CONSTRAINT [FK__HIDDEN_ME__USER___45F365D3]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK__MESSAGES__SESSIO__6FE99F9F] FOREIGN KEY([SESSION_USER_ID])
REFERENCES [dbo].[SESSIONS_USERS_MAP] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK__MESSAGES__SESSIO__6FE99F9F]
GO
ALTER TABLE [dbo].[SESSIONS_USERS_MAP]  WITH CHECK ADD  CONSTRAINT [FK__SESSIONS___SESSI__2D27B809] FOREIGN KEY([SESSION_ID])
REFERENCES [dbo].[SESSIONS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SESSIONS_USERS_MAP] CHECK CONSTRAINT [FK__SESSIONS___SESSI__2D27B809]
GO
ALTER TABLE [dbo].[SESSIONS_USERS_MAP]  WITH CHECK ADD  CONSTRAINT [FK__SESSIONS___USER___2C3393D0] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SESSIONS_USERS_MAP] CHECK CONSTRAINT [FK__SESSIONS___USER___2C3393D0]
GO
/****** Object:  StoredProcedure [dbo].[GetMessagesBySessionId]    Script Date: 5/24/2020 23:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetMessagesBySessionId]
	-- Add the parameters for the stored procedure here
	@sessionId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MESSAGES.* FROM MESSAGES 
	JOIN SESSIONS_USERS_MAP ON SESSIONS_USERS_MAP.ID = MESSAGES.SESSION_USER_ID
	WHERE SESSIONS_USERS_MAP.SESSION_ID = @sessionId
END
GO
/****** Object:  StoredProcedure [dbo].[GetRecentlyActiveSessionIDs]    Script Date: 5/24/2020 23:27:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRecentlyActiveSessionIDs] 
@userId INT
AS
BEGIN
	SELECT 
		SESSIONS_USERS_MAP.SESSION_ID AS ID, 
		MAX(MESSAGES.DATE) AS RECENTDATE
	FROM SESSIONS_USERS_MAP 
	JOIN MESSAGES ON SESSIONS_USERS_MAP.ID = MESSAGES.SESSION_USER_ID
	WHERE SESSIONS_USERS_MAP.SESSION_ID IN
		(SELECT SESSION_ID
		FROM SESSIONS_USERS_MAP
		WHERE USER_ID = @userId)
	GROUP BY SESSIONS_USERS_MAP.SESSION_ID
END;
GO
USE [master]
GO
